{% extends "blog/base.html" %}
{% block content %}
<HTML>
<HEAD>
   <TITLE>FREQUENTLY ASKED QUESTIONS</TITLE>
</HEAD>
<BODY>
<strong>Q: Will I receive the BAH I am enrolled in all distance learning (ie. online, television) courses?</strong><br />
<br />
A: Before October 1, 2011, if you were enrolled in an entire schedule of distance education courses you would not receive the Housing Allowance portion of the GI Bill.<br />
<br />
If at least one of your courses is considered “in residence” (ie. you are required to physically attend a classroom at Brookdale for the course), you are entitled to the Housing Allowance if you are taking enough credits to be considered at a 51% (or more) “rate of pursuit”. Students must be considered more than half-time to be eligible for housing allowance benefits.<br />
After October 1, 2011, if you choose to pursuit a courseload of all online coursework (minimum 7 credits) you will be eligible for up to 50% of the National Rate of BAH, currently at approximately $1300 (50% = $650.00). The VA will further determine your monthly payment based on number of credits pursued compared to the full-time rate (12 credits would be full-time) and your percentage of eligibility for the Post 9/11 GI Bill.<br />
<br />
<strong>Q: I live at home with my parents, they don't make me pay rent. Will I have to show the VA that I pay rent?</strong><br />
<br />
A: No. The VA will not require you to show any proof of rent/mortgage payments. The money you receive is yours and you should look at this as an opportunity to save up for your future home or as you see fit.<br />
<br />
<strong>Q: What are MHA based on?</strong><br />
<br />
A:Monthly Housing Allowance (MHA) payments are based on the Department of Defense’s Basic Allowance for Housing (BAH) rates for an E-5 with dependents.MHA is also based on the zip code of the school or college the student is attending.<br />
<br />
<strong>Q: When is the effective date for MHA?</strong><br />
<br />
A: August 1st of each year is the effective date for the adjustment of MHA – While BAH rates are adjusted every calendar year and effective on January 1st the post 9/11 GI Bill MHA is effective at the beginning of the academic year which is set at August 1st.<br />
<br />
<strong>Q: Do the MHA rates decrease?</strong><br />
<br />
A: Adjusted MHA rates typically will NOT be adjusted down (decreased).  Service members have individual rate protection against any BAH decrease and the MHA amount will not decrease unless there is a change in school or college or have more than a six-month break in training.<br />
<br />
<strong>Q:Do MHA rates increase?</strong><br />
<br />
A: BAH Increases – Even though BAH increases are effective January 1st recipient housing allowance stipend will not see an increase until the September payment for training pursued in August.<br />
<br />
<strong>Q: What is the difference between MHA and BAH</strong><br />
<br />
A: MHA rates terms are commonly interchanged with Post 9/11 BAH rates terms, they are one and the same.<br />
<br />
<strong>Q: What is the  MHA rate for online colleges, schools, or distance learning programs?</strong><br />
<br />
A: The MHA rate for online colleges, schools, or distance learning programs is $805.50.<br /> 
<br />
<strong>Q: When is MHA paid?</strong><br />
<br />
A:BAH  is paid each month.  However, the first payment may not arrive for several months.<br />
<br />
<strong>Q: Can you receive a larger payment than the maximum allowable rate?</strong><br />
<br />
A: Students cannot receive over the maximum allowable BAH amount.<br />
<br />
<strong>Q: Is the MHA paid during the winter and summer breaks?</strong><br />
<br />
A: BAH is not paid during winter or summer breaks.  Spring Break counts!<br />
<br />
<strong>Q: Will dropping my courses effect my MHA?</strong><br />
<br />
A: Dropping courses can negatively affect MHA (BAH).<br />
<br />
<strong>Q:Do I qualify for the Post 9/11 GI Bill?</strong><br />
<br />
A:To qualify for the Post 9/11 GI Bill, applicants must have 90 days minimum active duty service after Sept. 10, 2001, and are still on active duty. Also eligible are honorably discharged veterans or those discharged with service-connected disabilities after 30 days.<br />
<br />
<strong>Q:What is the Post-9/11 GI Bill or Forever GI Bill?</strong><br />
<br />
A:The Forever GI Bill is a modification of current GI Bill policies in a variety of areas. Your eligibility under the Post 9/11 GI Bill may affect how and when you may begin taking advantage of Forever GI Bill changes for such things as the Yellow Ribbon program, BAH housing stipend (reduced for some, higher for others who began using the GI Bill before the new BAH calculations went into effect). Basically, the Forever GI Bill is an enhancement of the existing Post 9/11 GI Bill program and while some of those enhancements took effect immediately, others are phased in over time. Learn more about the changes and when they take effect.<br />
<br />
<strong>Q:How do I find out what education benefits I’m eligible for?</strong><br />
<br />
A:You can discuss your education needs in person at your nearest VA office, but the fastest way to learn what student veteran education benefits are open to you is to use the Department of Veterans Affairs GI Bill comparison tool for VA benefits, and check with your state government’s official site to see what state-specific programs for veterans might be open in your area. You can also explore news and reviews of military education benefits and opportunities.<br />
<br />
<strong>Q:How is my Post-9/11 GI Bill living stipend (BAH) determined?</strong><br />
<br />
A:The Post 9/11 GI Bill monthly housing allowance is based on the BAH rate for an E-5 with dependents. For students, the GI Bill housing allowance is calculated using the ZIP code for your school. The housing allowance is adjusted annually, so rates may change over the full use of a student’s GI Bill benefits.<br />
<br />
The housing allowance calculation is changed thanks to the Forever GI Bill; students first enrolled in an education program on or after August 1, 2018, will have their BAH calculated based on the zip code of the campus where the student attends the majority of their classes as opposed to the location “of the institution of higher learning where the student is enrolled” according to the VA.<br />
<br />
<strong>Q:Can I receive college credit for my military training</strong><br />
<br />
A:College credit for military training may or may not be offered at the school of your choice. You will need to discuss the nature of your military service with an admissions counselor to see what may receive college credit and what may not. It’s best to have your transcripts available from any courses you took during military service, and make a list of all training you received such as leadership, quality management, and job-specific schooling such as mechanical or electrical systems, computers networks, etc.<br />
You may be able to request transcripts from military technical schools, language institutes, etc. The nature and amount of college credit that transfers will depend on the school, applicable state or federal law, and the nature of your military experiences.<br />
<br />
<strong>Q:Why didn’t I get any GI Bill payment over the break?</strong><br />
<br />
A:GI Bill payments are calculated based on classroom hours. During the break, when no classes are held, you are not paid for that time. Your GI Bill payment “clock” resumes when you attend classes after the break ends.<br />
<br />
<strong>Q:What is considered full-time coursework during summer sessions for GI Bill purposes?</strong><br />
A:Full-time summer coursework isn’t the same at all colleges. Much depends on how long the summer session lasts-four weeks, six weeks, 12 weeks, etc. You will need to consult the institution of higher learning you’ll be attending to learn how long their summer terms are and the maximum credit hours you are allowed to carry. Some programs (four weeks) may offer a three-credit hour workload that allows the student to draw 100% BAH, but the housing allowance is only paid for the time actually attending classes. You cannot draw the GI Bill housing allowance when you are not attending classes in the summer.<br />
<br />
<strong>Q:Does the length of time served after 9/11 affect my level of benefits?</strong><br />
<br />
A:The amount of time in service after September 10, 20101 may affect your GI Bill benefits. For example, those who served At least 90 days but fewer than six months are eligible for 40% of the Post 9/11 GI Bill benefit at the time of this writing. However, in 2020, that 40% eligibility will be eliminated (thanks to the Forever GI Bill) in favor of a higher percentage, but the time-in-service requirement for 100% benefits remains the same. Applicants who serve 36 months or more after September 10, 2001, are eligible for 100% of the GI Bill.<br />
<br />
<strong>Q:Is there a limit to the benefits if I go to school half-time?</strong><br />
<br />
Yes. GI Bill benefits including the housing allowance are affected by the amount credit hours you take. Under the Post-9/11 GI Bill, if you are enrolled above half-time you qualify for a monthly housing allowance (the BAH rate for an E-5 with dependents). The school must calculate the BAH percentage by dividing the number of credit hours by the number of credits considered to be full time. A student with a rate of pursuit greater than 50% can qualify for the housing allowance, prorated as a percentage of the full-time attendance amount. The VA official site provides this example of how it works:<br />
<br />
…if 12 credits is considered full-time, a course load of 6 credits yields a rate of pursuit of 50% (6 ÷ 12 = .50), whereas a course load of 7 credits yields a rate of pursuit of 58% (7 ÷ 12 = .58). In this scenario, a Veteran would need to enroll for at least 7 credits (such as two 3-credit classes and a 1-credit lab) in order to receive the housing allowance benefits.<br />
<br />
<br />


<a href="https://militarybenefits.info/top-10-faqs-student-veterans/#ixzz5U7Tkr3xU" target=" blank">Learn more about Military Education Benefits </a>
<br />
<br />

</BODY>
</HTML>
<HTML>
<HEAD>
   <TITLE>General_Knowledge_Links</TITLE>
</HEAD>
<BODY>
1- Post-9/11 GI Bill (Chapter 33) Payment Rates for 2018 Academic Year (August 1, 2018 - July 31, 2019)<br />
-page also has links to mha and items about G.I. bill in general<br />
<a href= https://www.benefits.va.gov/GIBILL/resources/benefits_resources/rates/ch33/ch33rates080118.asp target="_blank">www.benefits.va.gov</a><br />
<br />
2- Education and training - <br />
- page shows links to historical data<br />
<a href= https://www.benefits.va.gov/gibill/resources/benefits_resources/rate_tables.asp target="_blank">GI Bill Historical Data</a><br />
<br />
3- eBenefits<br />
- one stop access to all important info on care, claims, benefits<br />
<a href=https://www.ebenefits.va.gov/ebenefits/homepage target="_blank">www.ebenefits.va.gov</a><br />
<br />
4- Vocational Rehabilitation and Employment (VR&E)<br />
<a href=https://www.benefits.va.gov/vocrehab/ target="_blank">www.benefits.va.gov/vocrehab/</a><br />
<br />
5- Program Definitions - Vocational Rehabilitation and Employment (VR&E)<br />
<a href=https://www.benefits.va.gov/vocrehab/program_definitions.asp target="_blank">www.benefits.va.gov/vocrehab/program_definitions</a><br />
<br />
6- Veterans Education Benefits by State<br />
<a href=https://www.legion.org/education/statebenefits target="_blank">www.legion.org</a><<br />
<br />
7 - Federal Veterans Education Benefits<br />
-<a href=https://www.legion.org/education/federalbenefits target="_blank">www.legion.org</a><br />
<br />
8 - Forever GI Bill<br />
-<a href=https://militarybenefits.info/forever-gi-bill/ target="_blank">www.militarybenefits.com</a><br />
<br />
9 - Military Friendly Colleges<br />
<a href=https://militarybenefits.info/military-friendly-colleges/ target="_blank">www.militarybenefits.com</a><br />
<br />
10 - GI bill benefits<br />
<a href=https://benefits.va.gov/gibill/ target="_blank">www.benefits.va.gov</a><br />
<br />
11- Housing Allowance for mha for post 911 G-bill<br />
<a href=https://militarybenefits.info/monthly-housing-allowance-mha-for-post-911-gi-bill/ target="_blank">www.militarybenefits.com</a><br />
<br />
12- BAH rates by state<br />
<a href=https://militarybenefits.info/bah-rates-state/ target="_blank">www.militarybenefits.com</a><br />
<br />
13- Military Housing Names<br />
<a href=https://militarybenefits.info/military-housing-area-names/ target="_blank">militarybenefits.com</a><br />
<br />
14- V.A. homepage<br />
<a href=https://va.gov/ target="_blank">www.va.gov</a><br />
<br />
15- Links to all States Veterans Affairs Office<br />
<a href=https://www.va.gov/statedva.htm target="_blank">www.va.gov</a><br />
<br />
16- National Association of State Directors of Veterans Affairs<br />
<a href=http://www.nasdva.us/ target="_blank">www.nasdva.us/</a><br />

</BODY>
</HTML>

{% endblock content %}
