{% extends "blog/base.html" %}
{% block content %}
<HTML>
<HEAD>
   <TITLE>Acronnyms</TITLE>
</HEAD>
<BODY>
MGIB – Montgomery GI Bill<br />
OEF  – Operation Enduring Freedom<br />
OIF  – Operation Iraqi Freedom<br />
VA   – Department of Veterans Affairs<br />
VEAP – Veterans Educational Assistance Program<br />
VR&E – Vocational Rehabilitation and Employment<br />
NPRC – National Personnel Records Center(official copy of DD214 can be obtained, if needed)<br />
BAH  - Basic Assistance for Housing<br />
MHA  - Monthly Housing Allowance<br />
COLA - Cost of living adjustment<br />
CONUS- The contigious United States<br />
DAV  - Disabled American Veterans<br />
VFW  - Veteran's of Foreign War<br />
DEA  - Dependent's Education Assistance<br />
DSO  - Department Service Officer<br />
DVA  - Department of Veteran's Affairs<br />
IU   - Individual Unemployability<br />
OTH  - Other than Honerable<br />
TDIU - Total Disabilty based on Individual Unemployment<br />
VEAP - Post-Vietnam Era Veteran's Educational ssistance Program<br />
AMVETS - American Veterans<br />
AL   - American Legion<br />
VR&E - Vocational Rehabilitation and Employment VR&E<br />

</BODY>
</HTML>
{% endblock content %}
